@media (max-width: @screen-sm) {
	
  .is-sticky nav {
    width: 100%;
  }

}

@media (min-width: @screen-sm) {
	
  #contact .lead .tellink {
    color: #333;
    cursor: default;
  }

  .is-sticky nav {
    //width: 750px;
    img {
     // margin: 15px 10px 0 0px;
    }
    .nav>li>a {
      padding: 15px 10px;
    } 

  }
  #lightbox .lightbox-content #ajax {
    padding: 0px;
  }
  .header {
    position: relative;
    text-align: center;
    
    .vert-text {
      margin: 200px 0px 130px 0px;
      padding: 0px;
      text-align: center;
      h1 {
        padding: 0;
        margin: 0px auto;
        text-indent: -9999px;
        background: url(../img/silverheritage-logo.png) no-repeat;
        width: 631px;
        height: 74px;
      }
      h2 {
        font-size: 18px;
        letter-spacing: 5px;
      }
    }
    
  }
  .callout {
  
    width: 100%;
    
    &#roulette {
      height: 600px;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background: url(../img/sample-image1-big.jpg) no-repeat center center; 
    }
    &#casino {
      height: 550px;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  
      background: url(../img/sample-image2-big.jpg) no-repeat center center; 
    }
    &#cheers {
      height: 700px;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  
      background: url(../img/sample-image3-big.jpg) no-repeat center center; 
    }
  }
    
    

}

@media (min-width: @screen-md) {

  .is-sticky nav {
    .nav>li>a {
      padding: 15px 9px;
      font-size: 13px;
    } 

  }
  #operations-projects {
    .project_link {
      
      &:hover {
        .image-wrap .more {
          display: block;
        }
      }
    }
  }
  #contact form input[type=submit] {
    width: auto;
    padding: 10px;
  }

}

@media (min-width: @screen-lg) {
  .is-sticky nav {
    //width: 1170px;
    img {
     // margin: 15px 45px 0px 0px;
    }
  }
}